@inject IStringLocalizer<Resource> Localizer

<section class="home-section" id="home">
    @if (hero is not null)
    {
        <img class="background" src="@(hero.Source)" alt="@(hero.AlternateText)" />
    }
    <div class="home-content">
        @if (property is null)
        {
            <p><em>@Localizer["loading"]</em></p>
        }
        else
        {
            <div class="home-title">
                <div data-aos="fade-in" data-aos-duration="1000">
                    <h1>@property.Name</h1>
                </div>
                <div data-aos="fade-right" data-aos-delay="500">
                    <h2>@Localizer[$"{property.Title}"]</h2>
                </div>
                <div data-aos="fade-up" data-aos-delay="1000">
                    <div class="grid-container justify-content-center">
                        <div class="email-button">
                            <a href="mailto:@(property.Email)" class="email-link">
                                <h5>@Localizer["contactMe"]</h5>
                                <img src="@icons.EmailAlternative" alt="email" class="email-icon" />
                            </a>
                        </div>
                        <div class="google-drive-button">
                            <a href="@(property.CVLink)" target=”_blank” class="google-drive-link">
                                <h5>@Localizer["myCV"]</h5>
                                <img src="@icons.GoogleDriveAlternative" alt="Google Drive Resume File" class="google-drive-icon" />
                            </a>
                        </div>
                        <FileDownload Http="@Http" JS="@JS" FileName="CV" IconSource="@icons.DownloadFileAlternative" />
                    </div>
                </div>
            </div>

            <div class="home-container3D" id="container3D"></div>
            <script type="module" src="js/main.js"></script>
        }
    </div>
    <div class="home-arrow">
        <a href="#about" target="_top">
            <img src="images/down-arrow.svg" style="height: 3rem; width: 3rem;" alt="scroll down" />
        </a>
    </div>
</section>


@code
{
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required IJSRuntime JS { get; set; }

    [Parameter, EditorRequired]
    public required HeroImageService HeroImageService { get; set; }

    private SiteProperties? property;
    private SocialIcons? icons;
    private HeroImage? hero;

    private bool isMenuOpen = false;

    private void ToggleMenu() => isMenuOpen = !isMenuOpen;
    private void CloseMenu() => isMenuOpen = false;

    protected override async Task OnInitializedAsync()
    {
        property = await Http.GetFromJsonAsync<SiteProperties>("data/siteproperties.json");
        icons = await Http.GetFromJsonAsync<SocialIcons>("data/socialicons.json");

        hero = await HeroImageService.GetHeroAsync(img => img.Name is "home");
    }
}