@inject IStringLocalizer<Resource> Localizer

<section class="portfolio-section" id="portfolio">
    @if (hero is not null)
    {
        <img class="background" src="@(hero.Source)" alt="@(hero.AlternateText)" />
    }
    <div data-aos="fade-up">
        <h2>@Localizer["projects"]</h2>
    </div>
    <div class="project-grid">
        @if (projects is null)
        {
            <p><em>@Localizer["loading"]</em></p>
        }
        else
        {
            @foreach (var project in projects)
            {
                <div data-aos="zoom-in">
                    <ProjectBox project="@project" />
                </div>
            }
        }
    </div>
</section>

@code
{
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required HeroImageService HeroImageService { get; set; }

    private List<Project>? projects;
    private HeroImage? hero;

    protected override async Task OnInitializedAsync()
    {
        projects = await Http.GetFromJsonAsync<List<Project>>("data/projects.json");
        
        hero = await HeroImageService.GetHeroAsync(img => img.Name is "portfolio");
    }
}
