@inject IJSRuntime js
@inject IStringLocalizer<Resource> Localizer

<nav class="navbar" id="navbar">
    <h5 class="navbar-title">
        <a href="#home" class="navbar-logo">Samuel Furlanich</a>
    </h5>

    <div class="navbar-links">
        <a href="#about">@Localizer["about"]</a>
        <a href="#portfolio">@Localizer["projects"]</a>
        <a href="#contactinfo">@Localizer["contact"]</a>
        <div class="top-row px-4">
            <CultureSelector Http=@Http />
        </div>
    </div>

    <button class="hamburger" @onclick="ToggleMenu">
        <!-- Hamburger Icon -->
        &#9776;
    </button>

</nav>

<div class="side-panel" style="transform: @(isMenuOpen ? "translateX(0)" : "translateX(100%)")">
    <div class="panel-content">
        <div class="vertical-links">
            <a href="#about" @onclick="CloseMenu">@Localizer["about"]</a>
            <a href="#portfolio" @onclick="CloseMenu">@Localizer["projects"]</a>
            <a href="#contactinfo" @onclick="CloseMenu">@Localizer["contact"]</a>
        </div>

        <div class="horizontal-buttons">
            <CultureSelector Http=@Http />
        </div>
    </div>
</div>


@code
{
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    private bool isMenuOpen = false;

    private void ToggleMenu() => isMenuOpen = !isMenuOpen;

    private void CloseMenu() => isMenuOpen = false;

}
